/* Reset some default styles */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    float: left;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero section styles */
#hero {
    background: url("https://www.hayclothing.in/cdn/shop/files/web_4.png?v=1723030441&width=2000 ") no-repeat center center/cover;
    color: black;
    text-align: center;
    padding: 100px 0;
        min-height: 100vh;
     background-repeat: no repeat;
     background-size: cover;
     
}

#hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #e94e77;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #d43f5b;
}

/* Section styles */
section {
    padding: 40px 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Collection section styles */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1;
    max-width: 30%;
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #e94e77;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #d43f5b;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
